IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Orders' AND COLUMN_NAME = 'Phone') ALTER TABLE Orders ADD Phone NVARCHAR(20);
GO
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Orders' AND COLUMN_NAME = 'Address') ALTER TABLE Orders ADD Address NVARCHAR(MAX);
GO
SELECT * FROM Tables;
